@model List<ResultWorkLocationDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Lokasyon Adı</th>
        <th>Şehir</th>
        <th>Düzenle</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.WorkLocationId</th>
            <td>@item.Name</td>
            <td>@item.City</td>
            <td><a href="/WorkLocation/DeleteWorkLocation/@item.WorkLocationId" class="btn mb-1 btn-rounded btn-outline-danger">Sil</a></td>
            <td><a href="/WorkLocation/UpdateWorkLocation/@item.WorkLocationId" class="btn mb-1 btn-rounded btn-outline-success">Güncelle</a></td>
        </tr>
    }
</table>
<a href="/WorkLocation/AddWorkLocation" class="btn mb-1 btn-rounded btn-outline-warning">Lokasyon Ekle</a>


