@model List<ResultGuestDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Ad Soyad</th>
        <th>Şehir</th>
        <th>İşlemler</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.GuestId</th>
            <td>@item.Name @item.Surname</td>
            <td>@item.City</td>
            <td><a href="/Guest/DeleteGuest/@item.GuestId" class="btn mb-1 btn-rounded btn-outline-danger">Sil</a></td>
            <td><a href="/Guest/UpdateGuest/@item.GuestId" class="btn mb-1 btn-rounded btn-outline-success">Güncelle</a></td>
        </tr>
    }
</table>
<a href="/Guest/AddGuest" class="btn mb-1 btn-rounded btn-outline-warning">Misafir Ekle</a>

